<!doctype html>
<html>
<head>
<meta charset="UTF-8"/>
<title>イーコ | プライバシーポリシー</title>
<link rel="stylesheet" type="text/css" href="css/common.css" th:href="@{/css/common.css}" media="all"/>
<link rel="stylesheet" type="text/css" href="css/reset.css" th:href="@{/css/reset.css}" media="all"/>
<link rel="stylesheet" type="text/css" href="css/policy.css" th:href="@{/css/policy.css}" media="all"/>
</head>

<body class="back">
	<div id="main" style="padding: 30px;">
		<h3 class="small-header">プライバシーポリシー</h3>
<br />
<p>制定 平成27年4月1日</p>
<p>株式会社WIDE VIDEO</p>
<!-- <p>代表取締役 後藤亮</p> -->
<p>個人情報保護方針</p>

<p>WIDE VIDEO(以下、当社)は、以下の個人情報保護方針を遵守します。</p>
<br />
<p>当社は、モバイルコンテンツ配信事業を中心としてこれまで培ってきた技術と経験を活かし、ウェブサイトの企画制作や写真・動画関連事業など、様々な分野での事業を展開しております。</p>
<p>昨今の個人情報を取り巻く社会情勢などを受け、当社としましても個人情報を取り扱う企業のひとつとして責任を重く受け止めており、事業活動を通じてお客様からお預かりする個人情報及び当社社員の個人情報について、個人の権利利益の保護の理念の下、適正に取り扱うことが企業の社会的責務であると認識しております。</p>
<p>当社では、以下の個人情報保護方針（以下、「本方針」といいます）を制定し、本サイトを通じて取得した個人情報（以下、「本件個人情報」といいます）の取扱いに関し、役員を含む全従業者に周知徹底するとともに、個人情報を保護し、社会の信頼に応えて参ります。</p>
<br />
<p>1．当社は、本件個人情報に関し利用目的を下記のとおり特定した上で、業務上必要な範囲において適法かつ適正な手段で取得し、その利用目的においてのみ利用することとし、特定された利用目的の達成に必要な範囲を超えた取り扱い(目的外利用)を行いません。また、目的外利用を行わないために、適切な管理措置を講じます。</p>
<p>記</p>
<p>本件個人情報の利用目的</p>
<div class="paragraph">
<p>（1）各種コンテンツ配信サービスに関する個人情報</p>
<p> ・真正なご登録者であるかの確認のため</p>
<p> ・キャンペーン等の当選した商品の送付やサービスを提供するため</p>
<p> ・法令、当社との契約または利用規約に違反した方のご利用をお断りするため</p>
<p> ・サービス利用料金を請求するため</p>
<p>（2）Facebookから取得するプロフィール情報</p>
<p> ・Facebookサービスを提供するため</p>
<p>（3）受託事業者から取得する写真情報</p>
<p> ・撮影された写真データを管理するため</p>
<p> ・撮影された写真データを販売するため</p>
<p>（4）受託事業者から取得する動画情報</p>
<p> ・撮影された動画データを編集するため</p>
<p>（5）お客様ご自身に関する個人情報</p>
<p> ・お客様からのお問い合わせ・苦情または相談にお答えするため</p>
<p> ・お客様との契約履行のため</p>
<p> ・当社サービスに関連するご連絡を行うため</p>
<p> ・当社サービスの品質及び機能の向上のための調査・分析のため</p>
<p>（6）お取引先に関する個人情報</p>
<p> ・お取引先との契約や法律等に基づく権利の行使や義務の履行のため</p>
<p> ・お問い合わせ・苦情または相談にお答えするため</p>
<p> ・報告、連絡、案内、資料の発送、商談や打ち合わせのため</p>
<p> ・お取引先様の情報管理、支払や収入処理のため</p>
<p> ・納品、発送、サポートを行うため</p>
<p>（7）当社の従業員等に関する個人情報</p>
<p> ・当社の採用選考のため</p>
<p> ・当社の雇用管理のため</p>
</div>
<br />
<p>2．当社は、本件個人情報について照会、訂正等を依頼された場合、本件個人情報に関して適用される諸法令、諸規範等に基づいて適切に対応させていただきます。また、本件個人情報に関する苦情、相談に対しても、誠実に対応させていただきます。</p>
<br />
<p>3．当社は、本件個人情報を適切に管理するため、必要な安全対策を講じ、情報へのアクセス、漏えい、滅失またはき損の防止及び是正に努めます。また、本件個人情報に関連して適用される諸法令、国が定める指針その他の規範等を遵守してまいります。</p>
<br />
<p>4．当社は、法令などの変更や環境の変化に合わせ、個人情報保護マネジメントシステムの取り組みについて、定期的に見直し、継続的に改善していきます。</p>
<br />
<p>5. 当社は、利用目的の達成に必要な範囲内において個人情報の取り扱いの全部または一部を第三者に委託する場合がございます。委託先につきましては、厳正な調査を行い、機密保持を含む契約に対する合意を求め、個人情報の安全管理が図られるよう、必要かつ適切な監督を行います。</p>
<br />
<p>6. 当社は、ご本人の同意なく、第三者に対し、個人情報を開示することはいたしません。ただし、必要最小限の範囲で、以下の各項の場合に限り第三者に開示いたします。</p>
<div class="paragraph">
<p>（1）当社が従うべき法的義務のために必要な場合</p>
<p>（2）人の生命、身体または財産の保護のために必要がある場合であってご本人の同意を得ることが困難であるとき</p>
<p>（3）公衆衛生の向上または児童の健全な育成の推進のために特に必要がある場合であって、ご本人の同意を得ることが困難である場合</p>
<p>（4）国の機関もしくは地方公共団体またはその委託を受けた者が法令の定める事務を遂行することに対して協力する必要があって、ご本人の同意を得ることにより当該事務の遂行に支障を及ぼす場合</p>
<p>（5）合併、会社分割、営業譲渡その他の事由によって事業が承継される場合</p>
</div>
<br />
<p>7．当社は、ご本人による開示等(利用目的の通知、開示、内容の訂正、追加または削除、利用の停止、消去及び第三者への提供の停止)のご請求を受け付けます。ただし、少なくとも以下の各項のいずれかに該当する場合は、開示等のご請求に対してお答えできない場合もございますので、あらかじめご了承ください。</p>
<div class="paragraph">
<p>（1）ご本人または第三者の生命、身体または財産に危害がおよぶおそれのあるもの</p>
<p>（2）違法または不当な行為を助長し、または誘発するおそれのあるもの</p>
<p>（3）国の安全が害されるおそれ、他国もしくは国際機関との信頼関係が損なわれるおそれ、または他国もしくは国際機関との交渉上不利益を被るおそれのあるもの</p>
<p>（4）犯罪の予防、鎮圧または捜査その他の公共の安全と秩序維持に支障がおよぶおそれのあるもの</p>
<br />
<p>8．免責事項</p>
<p>当社は、本サイトに掲載する情報には十分に注意を払っています。ただし、本サイトで提供する情報は、その正確性、信頼性、有用性等について、いかなる保証もするものではありません。当社は、本サイトの内容によって、または本サイトをご利用になられたことによって発生したいかなるトラブル、損失、損害についても一切の責任を負いません。</p>
<br />
<p>9．利用者より最新の情報を正確にご提供頂けない場合には、利用者は適正なサービスを受けられない場合がございますので、あらかじめご了承ください。</p>
<br />
<p>10．当社は、法令などの変更や環境の変化に合わせ、本方針の見直し、改善を図ってまいります。それに伴い、これを予告なく変更・追加等することがございます。変更後の本方針は、本サイト上で閲覧可能となった時点から適用されるものとします。</p>
<br />
</div>
<p>11.開示等の手続きについて</p>
<div class="paragraph">
<p>①．開示等の手続きをされる場合は、下記の【開示等に関するお問い合わせ・苦情の　　　お申し出先】にご連絡ください。</p>
<p>②．当社より「開示請求書」を送付致します。</p>
<p>③「開示請求書」に開示等の申し込み内容を記載し、本人確認の書類と一緒に当社に　送付して下さい。</p>
<p>④．送付された開示等の申し込み内容により、当社で手続きを行います(開示及び利用目的の通知の場合の手数料:500円)。</p>
<p>※詳細につきましては、ご連絡頂きました際にご説明させて頂きます。</p>
</div>
		<br />
           
        <p class="border"></p>
        <br />
        <p>株式会社WIDEVIDEO</p>
        <p class="updated-date">発効日2016年4月1日</p>
</div>
    <div id="footer">© 2016 WideVideo</div>
</body>
</html>
