<!doctype html>
<html>
<head>
<meta charset="UTF-8"/>
<title>イーコ | プライバシーポリシー</title>
<link rel="stylesheet" type="text/css" href="css/common.css" th:href="@{/eco/css/common.css}" media="all"/>
<link rel="stylesheet" type="text/css" href="css/reset.css" th:href="@{/eco/css/reset.css}" media="all"/>
<link rel="stylesheet" type="text/css" href="css/policy.css" th:href="@{/eco/css/policy.css}" media="all"/>
</head>

<body class="back">
	<div id="main" style="padding: 30px;">
		<h3 class="small-header">プライバシーポリシー</h3>
<br />
<!-- <p>制定 平成28年4月1日</p> -->
<p class="text-align-right">株式会社WIDE VIDEO</p>
<!-- <p>代表取締役 後藤亮</p> -->
<p class="text-align-right">個人情報保護方針</p>
<br />

<p>　株式会社WIDE VIDEO(以下、当社)は各種イベントをプロのカメラマンが撮影し、撮影した写真をインターネット上で、いつでも閲覧・ダウンロードできるというインターネット写真サービス事業を行っておりますが、それらの事業を遂行するうえで取得したお客様の個人情報や当社の社員の個人情報が、ご本人の大切な情報であることを認識するとともに、個人情報を取扱う事業者として、ご本人の権利保護を図り、個人情報に関する法規制等を遵守します。</p>
<p>当社では、以下の個人情報保護方針（以下、「本方針」といいます）を制定し、本サイトを通じて取得した個人情報（以下、「本件個人情報」といいます）の取扱いに関し、役員を含む全従業者に周知徹底するとともに、個人情報を保護し、社会の信頼に応えて参ります。</p>
<br />
<p>1．当社は、本件個人情報に関し利用目的を下記のとおり特定した上で、業務上必要な範囲において適法かつ適正な手段で取得し、その利用目的においてのみ利用することとし、特定された利用目的の達成に必要な範囲を超えた取り扱い(目的外利用)を行いません。また、目的外利用を行わないために、適切な管理措置を講じます。</p>
<br />
<p class="text-align-center">記</p>
<p>本件個人情報の利用目的</p>
<div class="paragraph">
<p>(1) 本人より書面等（ホームページや電子メールなどによるものを含む。以下「書面」という）</p>
<p>　　に記載された個人情報を直接取得する場合の利用目的</p>
<p>　　・お客様情報:　インターネット写真ダウンロード及び販売サービス事業における商品の発送、</p>
<p>関連するアフターサービスの提供、新商品及び新たなサービスの案内のため</p>
<p>　　  　　　　　　 お客様からのお問い合わせ・苦情または相談にお答えするため</p>
<p>・株主情報:     情報公開、配布物の送付、連絡のため</p>
<p>・取引先情報:   商談及び業務上の連絡、受発注業務、請求支払い業務のため</p>
<p>・社員情報:     社員の人事労務管理、業務管理、健康管理、セキュリティ管理のため</p>
<p>・採用応募者に関する個人情報:</p>
<p>採用応募者への連絡と当社の採用業務管理のため</p>
<p>(2) 本人より書面以外で直接個人情報を取得する際の利用目的</p>
<p>・お客様情報: 発注内容確認のため（通話記録）</p>
<p>(3) 取引先から個人情報を委託される場合の利用目的</p>
<p>・お客様情報:　キャンペーン等、商品の送付やサービスを提供するため</p>
<p><span style="margin-right: 96px;"></span>ダイレクトメール発送のため</p>
<p>(4) 各種イベントで取得する撮影データ</p>
<p>・写真データコンテンツの拡充及び販売のため</p>
</div>
<br />
<p>2．当社は、本件個人情報について照会、訂正等を依頼された場合、本件個人情報に関して適用される諸法令、諸規範等に基づいて適切に対応させていただきます。また、本件個人情報に関する苦情、相談に対しても、誠実に対応させていただきます。</p>
<br />
<p>3．当社は、本件個人情報を適切に管理するため、必要な安全対策を講じ、情報へのアクセス、漏えい、滅失またはき損の防止及び是正に努めます。また、本件個人情報に関連して適用される諸法令、国が定める指針その他の規範等を遵守してまいります。</p>
<br />
<p>4．当社は、法令などの変更や環境の変化に合わせ、個人情報保護マネジメントシステムの取り組みについて、定期的に見直し、継続的に改善していきます。</p>
<br />
<p>5. 当社は、利用目的の達成に必要な範囲内において個人情報の取り扱いの全部または一部を第三者に委託する場合がございます。委託先につきましては、厳正な調査を行い、機密保持を含む契約に対する合意を求め、個人情報の安全管理が図られるよう、必要かつ適切な監督を行います。</p>
<br />
<p>6. 当社は、ご本人の同意なく、第三者に対し、個人情報を開示することはいたしません。ただし、必要最小限の範囲で、以下の各項の場合に限り第三者に開示いたします。</p>
<div class="paragraph">
<p>（1）当社が従うべき法的義務のために必要な場合</p>
<p>（2）人の生命、身体または財産の保護のために必要がある場合であってご本人の同意を得ることが困難であるとき</p>
<p>（3）公衆衛生の向上または児童の健全な育成の推進のために特に必要がある場合であって、ご本人の同意を得ることが困難である場合</p>
<p>（4）国の機関もしくは地方公共団体またはその委託を受けた者が法令の定める事務を遂行することに対して協力する必要があって、ご本人の同意を得ることにより当該事務の遂行に支障を及ぼす場合</p>
<p>（5）合併、会社分割、営業譲渡その他の事由によって事業が承継される場合</p>
</div>
<br />
<p>7．当社は、ご本人による開示等(利用目的の通知、開示、内容の訂正、追加または削除、利用の停止、消去及び第三者への提供の停止)のご請求を受け付けます。ただし、少なくとも以下の各項のいずれかに該当する場合は、開示等のご請求に対してお答えできない場合もございますので、あらかじめご了承ください。</p>
<div class="paragraph">
<p>（1）ご本人または第三者の生命、身体または財産に危害がおよぶおそれのあるもの</p>
<p>（2）違法または不当な行為を助長し、または誘発するおそれのあるもの</p>
<p>（3）国の安全が害されるおそれ、他国もしくは国際機関との信頼関係が損なわれるおそれ、または他国もしくは国際機関との交渉上不利益を被るおそれのあるもの</p>
<p>（4）犯罪の予防、鎮圧または捜査その他の公共の安全と秩序維持に支障がおよぶおそれのあるもの</p>
</div>
<br />
<p>8．免責事項</p>
<div class="paragraph">
<p>当社は、本サイトに掲載する情報には十分に注意を払っています。ただし、本サイトで提供する情報は、その正確性、信頼性、有用性等について、いかなる保証もするものではありません。当社は、本サイトの内容によって、または本サイトをご利用になられたことによって発生したいかなるトラブル、損失、損害についても一切の責任を負いません。</p>
</div>
<br />
<p>9．利用者より最新の情報を正確にご提供頂けない場合には、利用者は適正なサービスを受けられない場合がございますので、あらかじめご了承ください。</p>
<br />
<p>10．当社は、法令などの変更や環境の変化に合わせ、本方針の見直し、改善を図ってまいります。それに伴い、これを予告なく変更・追加等することがございます。変更後の本方針は、本サイト上で閲覧可能となった時点から適用されるものとします。</p>
<br />
<p>11.開示等の手続きについて</p>
<div class="paragraph">
<p>(1)開示等の手続きをされる場合は、下記の【開示等に関するお問い合わせ・苦情のお申し出先】にご連絡ください。</p>
<p>(2)当社より「開示請求書」を送付致します。</p>
<p>(3)「開示請求書」に開示等の申し込み内容を記載し、本人確認の書類と一緒に当社に送付して下さい。</p>
<p>(4)送付された開示等の申し込み内容により、当社で手続きを行います(開示及び利用目的の通知の場合の手数料:500円)。</p>
<p>※詳細につきましては、ご連絡頂きました際にご説明させて頂きます。</p>
</div>
<br />
           
<p class="border"></p>
<br />
<p>株式会社WIDEVIDEO</p>
<p class="updated-date">発効日2016年4月1日</p>
</div>
    <div id="footer">© 2016 WideVideo</div>
</body>
</html>
