<!doctype html>
<html>
<head>
<meta charset="UTF-8"/>
<title>イーコ | QA</title>
<link rel="stylesheet" type="text/css" href="css/common.css" th:href="@{/eco/css/common.css}" media="all"/>
<link rel="stylesheet" type="text/css" href="css/reset.css" th:href="@{/eco/css/reset.css}" media="all"/>
<link rel="stylesheet" type="text/css" href="css/policy.css" th:href="@{/eco/css/policy.css}" media="all"/>
</head>

<body class="back">
	<div id="main" style="padding: 30px;">
		<h3 class="small-header">Q&amp;A</h3>
<br />

<br />
<p>【新規登録・ログインについて】</p>
<p>　◆新規登録について教えてください</p>
<p>　　→イーコシステムを利用するためには新規登録を行って頂く必要があります。</p>
<p>　　　新規登録に必要な情報は以下の4点です。</p>
<p>　　　　・施設コード</p>
<p>　　　　　（12桁の数字、施設から配布される情報です）</p>
<p>　　　　・初回登録用ID</p>
<p>　　　　　（8桁の数字、初回登録時にしか使用しません、施設から配布される情報です）</p>
<p>　　　　・メールアドレス</p>
<p>　　　　　（システムからのお知らせなどを配信しますので、利用しているメールアドレスを設定</p>
<p>　　　　　　してください）</p>
<p>　　　　・パスワード</p>
<p>　　　　　（任意の8〜13桁の半角英数字で設定してください）</p>
<p>　　　　※メールアドレスとパスワードは後から変更可能です。</p>
<p>　　　　※登録したメールアドレスとパスワードは以後、ログインの際に使用しますので</p>
<p>　　　　　失念しないようにご注意ください。</p>
<br />
<p>　◆ログインについて教えてください</p>
<p>　　→新規登録で設定したメールアドレスとパスワードを使用して認証してください。</p>
<p>　　　新規登録に必要な情報をお持ちでない場合は施設までお問い合わせください。</p>
<br />
<p>　◆ログインができない場合</p>
<p>　　→新規登録が済んでいるかご確認ください。新規登録をするにはログイン画面にある</p>
<p>　　　「はじめての方はこちら」から設定してください。</p>
<p>　　→入力したメールアドレスとパスワードが正しいかもう一度ご確認ください。</p>
<br />
<p>　◆「施設コード」とはなんですか</p>
<p>　　→施設ごとに12桁の数字をお渡ししております。同じ施設の方は全員共通のコードに</p>
<p>　　　なります。</p>
<p>　　　このコードは新規登録時に必要となりますので、大切に保管してください。</p>
<br />
<p>　◆「初回登録用ID」とはなんですか</p>
<p>　　→新規登録時にのみ、必要なIDとなります。</p>
<p>　　　既にこの初回登録用IDと保護者様、お子様の情報は紐付いており、新規登録時に</p>
<p>　　　認証して頂くことで初めて利用が可能になります。</p>
<p>　　　新規登録後はこの初回登録用IDではなく、設定して頂いたメールアドレスがIDとなります。</p>
<br />
<p>　◆「ID」と付くものが2つありますが、違いはなんですか</p>
<p>　　→本サービスでは「初回登録用ID」と「ID」の2つがあります。</p>
<p>　　　初回登録用IDは新規登録時にのみ使用します。初回登録用IDは当社から発行させて頂いた</p>
<p>　　　仮のIDであると</p>
<p>　　　思って頂いて結構です。新規登録時にご自身でメールアドレスを設定して頂きますが</p>
<p>　　　そのメールアドレスと今後、ログインする際に使用するIDはイコールとなりますので、</p>
<p>　　　ご注意ください。</p>
<br />
<p>　◆「パスワード」とはなんですか</p>
<p>　　→新規登録時にご自身で設定して頂くもので、任意の8〜13桁の半角英数字です。</p>
<p>　　　毎回ログインの際にメールアドレスと一緒に必要となりますので、失念しないものを設定</p>
<p>　　　するようにしてください。パスワードは後から変更可能です。</p>
<br />

<p>【写真閲覧・ダウンロードについて】</p>
<p>　◆画面の操作について教えてください</p>
<p>　　→ログイン後、まずは閲覧したいイベントを選択してください。</p>
<p>　　　選択順は「何年（画面右上のタブ）」→「イベント名（画面左側）」→「イベントの</p>
<p>　　　フォルダ」の順です。</p>
<p>　　　イベント名を選択し、その中にフォルダ分けされている場合はイベント名を選択した際に</p>
<p>　　　展開しますのでその中から対象のフォルダを選択して頂ければ画面右側に写真が表示され</p>
<p>　　　ます。</p>
<p>　　　表示された写真の中から欲しいものにチェックを付けて頂くと「まとめてダウンロード」</p>
<p>　　　という画面右上にあるボタンの数字がチェックした枚数に応じて増えていきますので、</p>
<p>　　　チェックし終わったら、「まとめてダウンロード」ボタンを押して頂ければダウンロード</p>
<p>　　　完了です。</p>
<br />
<p>　◆写真の公開期間はいつからいつまでですか</p>
<p>　　→写真の公開開始はイベントの撮影枚数によって異なりますが、概ね撮影日から10〜20日</p>
<p>　　　程度で公開を開始します。</p>
<p>　　　その際にはご登録頂きましたメールアドレス宛に公開開始のご連絡を差し上げます。</p>
<p>　　　また公開期間に関してはお子様の卒園後、1年間はいつでも全ての写真をダウンロード</p>
<p>　　　できますので、ご安心ください。</p>
<br />
<p>　◆ダウンロード方法について</p>
<p>　　→一覧画面または拡大画面からお好きな写真をチェックして頂きますと、「まとめてダウンロ</p>
<p>　　　ード」という画面右上にあるボタンの数字がチェックした枚数に応じて増えていきます</p>
<p>　　　ので、チェックし終わったら、「まとめてダウンロード」ボタンを押して頂ければ</p>
<p>　　　ダウンロード完了です。</p>
<br />
<p>　・ダウンロード後の解凍について</p>
<p>　　→選択頂いた写真データはzipという圧縮された状態でお渡しします。</p>
<p>　　　お使いのブラウザによって動作が異なりますが、推奨ブラウザでは以下のマニュアルの通り</p>
<p>　　　解凍ができます。</p>
<p>　・推奨環境について</p>
<p>　　→イーコを安全にご利用いただくためには、下記OSとブラウザを推奨いたします。</p>
<p>　　　【Windows（Windows RT除く）】</p>
<p>　　　　・OS：Windows 7以降</p>
<p>　　　　・ブラウザ：Internet Explorer 11以降、Firefox 44以降、Google Chrome</p>
<p>　　　　※Windowsストアアプリ版を除く </p>
<p>　　　【Macintosh】</p>
<p>　　　　・OS：Mac OS X 10.x以降</p>
<p>　　　　・ブラウザ：Firefox 44以降、Google Chrome</p>
<p>　　　　※当ウェブサイトは、Internet Explorer 11未満のバージョンや、その他のブラウザ、または携帯端末向けには最適化されていません。</p>
<p>　　　※いずれも日本語版に限らせていただきます。</p>
<p>　　　 ※プレビューリリースやベータ版などは推奨環境外とさせていただきます。</p>
<p>　　　 ※ご利用の機種・ブラウザ・アプリによっては動作に制約がある場合がございます。</p>
<p>　　　　　あらかじめご了承ください。</p>
<p>　　　※パッチやプラグインがインストールされていると、正常に動作しない場合があります。</p>
<p>　　　※ブラウザの設定でクッキー（Cookie）の受け入れを有効にしていただく必要が</p>
<p>　　　　あります。</p>
<br />
<p>【ダウンロードした写真データについて】</p>
<p>　◆写真データの保存</p>
<p>　　→解凍して頂いたフォルダ内にダウンロードして頂いた写真データが入っておりますので、</p>
<p>　　　お好みのデバイスに保管していただけますようお願いします。</p>
<br />
<p>　◆SNSやブログなどによる公開について</p>
<p>　　→ダウンロードして頂いた写真の中には他のお子様も写っている可能性がありますので、</p>
<p>　　　プライバシーの保護の為</p>
<p>　　　細心の注意を払ってご利用いただけますようお願いします。</p>
<br />
<p>【会員情報について】</p>
<p>　◆情報の変更について</p>
<p>　　→保護者様のお名前やお子様のお名前や生年月日などは施設より、情報提供を頂いており</p>
<p>　　　ます。</p>
<p>　　　もし、登録内容に間違いがある場合は、"お問い合わせページ"よりご連絡ください。</p>
<p>　　　またメールアドレスやパスワードはログイン後の”プロフィール編集"よりご自身で変更が</p>
<p>　　　可能です。</p>
<br />
<p>　◆メールの配信について</p>
<p>　　→ご登録いただきましたメールアドレスへ適宜写真の公開案内などの通知を送らせて頂いて</p>
<p>　　　おります。</p>
<p>　　　案内の停止をご希望の際は"お問い合わせページ"よりご連絡頂ければ、案内の送信を停止</p>
<p>　　　致します。</p>
		<br />
           
        <p class="border"></p>
        <br />
        <p>株式会社WIDEVIDEO</p>
        <!-- <p class="updated-date">発効日2016年4月1日</p> -->
</div>
    <div id="footer">© 2016 WideVideo</div>
</body>
</html>
