<!DOCTYPE html>
<html>
<head>
<title>イーコ | 画像・動画検索</title>
<link rel="stylesheet" href="style.css" th:href="@{/css/style.css}" media="all"/>
<!--<link rel="stylesheet" type="text/css" href="css/reset.css" th:href="@{/css/reset.css}" media="all"/>-->
<link rel="stylesheet" type="text/css" href="css/slider.css" th:href="@{/css/slider.css}" media="all" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<script type="text/javascript" src="knockout-3.3.0.js" th:src="@{/js/knockout-3.3.0.js}"/>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"/>
<script th:inline="javascript">
var ecoInfo = /*[[${EcoInfo}]]*/
</script>
<script type="text/javascript" src="js/search/search.js" th:src="@{/js/search/search.js}"/>
<script type="text/javascript">
$(function(){
	$('.close,.modalBK').click(function(){
		$('.modal').hide();
	});
});
</script>
<script type="text/javascript" src="js/easySlider1.7.js"></script>
<script type="text/javascript">
    $(document).ready(function(){	
    $("#slider").easySlider({
    speed: 1000,  // スクロールスピード設定
    pause: 7000,  // 表示時間設定
    auto: false, 
    continuous: true
    });
    });	
</script>
<style type="text/css">
.modal{display:none;}
.modalBody{position: fixed; z-index:1000; background: #000; width:50%; height:50%;}
.modalBK{position: fixed; z-index:999; height:100%; width:100%;background:#000; opacity: 0.9;filter: alpha(opacity=90);-moz-opacity:0.90;}
</style>
<style type="text/css">
/*-- 装飾用CSS --*/
.btns{font-size: 80px; width:150px; background:#111; height: 150px; line-height:150px; text-align:center; font-family: arial; color: #fff; float: left; margin:10px; cursor: pointer}
.close{cursor: pointer;}
.modal{width:100%; color: #eee; margin-top: -100px;}
.modal p{font-size:12px; text-align:justify;}
.modal h1{font-weight:bold; font-size: 30px;}
</style>
<div class="modal">
	<div class="modalBody">
		<p class="close">×close</p>
		<h1>Window - 1</h1>
		<!-- <p><img src="img/mdthumb.png"/></p> -->
		<p>ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。</p>
	</div><!-- close.modalBody -->
	<div class="modalBK"></div><!-- close.modalBK -->
</div>
</head>
<body>

	<div id="header_width" >
		<div id="header"><!-- header -->
       		<div id="s_logo"><img src="img/search/logo.png" th:src="@{/img/search/logo_font1.png}" alt="ロゴマーク" height="60px"/></div>
       		<div id="name" th:text="${EcoInfo.kindergartenName}">===幼稚園名が入る===</div>
               <ul class="tab">
                   <li th:id="${years[0]}" onClick="changeYear(this)"><img src="img/search/first_on.png" th:src="@{/img/search/first_on.png}" alt="今年度"/><span class="ad_select" th:text="${years[0]}">===今年度が入る===</span></li>
                   <!-- <li th:id="${years[1]}" onClick="changeYear(this)"><img src="img/search/tab_off.png" th:src="@{/img/search/tab_off.png}" alt="昨年"/><span class="ad" th:text="${years[1]}">===昨年が入る===</span></li>
                   <li th:id="${years[2]}" onClick="changeYear(this)"><img src="img/search/tab_off.png" th:src="@{/img/search/tab_off.png}" alt="一昨年"/><span class="ad" th:text="${years[2]}">===一昨年が入る===</span></li>
                   <li th:id="${years[3]}" style="margin-right: 5px;" onClick="changeYear(this)"><img src="img/search/tab_off.png" th:src="@{/img/search/tab_off.png}" alt="３年前"/><span class="ad" th:text="${years[3]}">===3年前が入る===</span></li> -->
               </ul>
			<div class="logout"><a href="login.html" th:href="@{/login.html}" target="_top">ログアウト</a></div>
            <div class="dl_wrap"><div class="dl_all" onClick="downLoad()"><div class="dl_btn"><div class="dl_text">まとめて<br />ダウンロード</div><div id="dl_count" class="count" data-bind="text: count">0</div></div></div></div>
        </div><!-- header_end -->
        <div class="clear"></div>
	</div><!-- header_width_end --> 
	<div id="first_line"></div>
	
	<div id="footer" class="item">
		<div id="footerArea">
			<ul>
		    <li><a href="qa.html" target="_top">Q＆Ａ</a></li>
		    <li><a href="userpolicy.html" target="_top">利用規約</a></li>
			<li><a href="privacy.html" target="_top">個人情報保護方針</a></li>
		    <li>© 2015 WideVideo</li>
	    </ul>
		</div>
	</div>
	
	<div id="middle" class="item">
		<nav id="side_menu" class="item">
		    <!-- <p><a href="edit_profile.html" th:href="@{/edit_profile.html}" target="_top">プロフィール編集はこちら</a></p> -->

		    <!-- ko if: menuInfo -->
		    <ul class="menu" id="menu_top_parent" data-bind="template: { name: 'menuParentTemplate', foreach: menuInfo }"></ul>
		    
		    <!-- /ko -->
		</nav>
		<section class="item">
			<!--<div class="spacer"></div>-->
			<!--  ko if: photoShow -->
			<div id="main" style="padding: 20px 0 30px;" data-bind="template: { name: 'photoArea'}"><!-- main -->
		    </div><!-- main_end -->
		    <!-- /ko -->
		</section>
	</div>
	
	<script type="text/html" id="menuParentTemplate">
		<li class="event" onClick="slide(this, arguments[0])" data-bind="clickBubble: false"><a class="menuitem submenuheader" data-bind="text: name"></a>
			<!-- ko if: subMenuList -->
			<div class="submenu" style="display:none">
				<ul class="menu2">
					<!-- ko foreach: subMenuList -->
					<!-- ko if: type == 1 -->
						<li data-bind="value: id, click: $root.getPhoto, clickBubble: false"><a data-bind="text: name"></a></li>
					<!-- /ko -->					
					<!-- ko if: type == 0 -->
						<li class="child_event" onClick="slide(this, arguments[0])" data-bind="value: id"><a data-bind="text: name"></a>
						<div class="submenu" style="display:none">
							<ul class="menu2" id="menu_top_parent" data-bind="template: { name: 'menuChildTemplate', foreach: subMenuList }"></ul>
						</div>
						</li>
					<!-- /ko -->
					<!-- /ko -->
				</ul>
			</div>
			<!-- /ko -->
		</li>
	</script>
	<script type="text/html" id="menuChildTemplate">
		<!-- ko if: type == 1 -->
		<li data-bind="value: id, click: $root.getPhoto, clickBubble: false"><a data-bind="text: name"></a></li>
		<!-- /ko -->					
		<!-- ko if: type == 0 -->
		<li class="child_event" onClick="slide(this, arguments[0])" data-bind="value: id"><a data-bind="text: name"></a>
			<div class="submenu" style="display:none">
				<ul class="menu2" id="menu_top_parent" data-bind="template: { name: 'menuChildTemplate', foreach: subMenuList }"></ul>
			</div>
		</li>
		<!-- /ko -->
	</script>
	<script type="text/html" id="photoArea">
<div id="notes">
<h2>ログインして頂き、ありがとうございます！</h2>
<h2>左側のイベント欄よりお好きなイベントをお選びください。</h2>

<h3>【注意事項】</h3>
<div class="paragraph">
<p>※当ウェブサイトは、株式会社WIDE VIDEO（以下、当社）が管理・運営を行っております。</p>
<p>※当ウェブサイトが提供している情報は、当社が所有・運営・管理しています。</p>
<p>　当ウェブサイト上に掲載される情報は、いかなる形でも無断で使用することはできません。</p>
<p>※当ウェブサイトでのログイン後、最後の操作より一定時間操作しない状態が続きますと、セキュリティの</p>
<p>観点から自動でログアウトさせて頂きます。その為、ダウンロード候補としてチェックを入れて頂いたお写真</p>
<p>　もチェックが外れてしまいますので、ご注意ください。</p>
<p>※利用者は、当ウェブサイトにログインする為に必要な施設コード及び自身で設定したID・パスワード（以下</p>
<p>　「セキュリティーキー」といいます）の取り扱いにつき自ら管理責任を負うものとし、セキュリティーキーを</p>
<p>　第三者に譲渡、貸与、開示してはならないものとします。</p>
<p>※当ウェブサイトよりダウンロードして頂いた写真には他のお子様も写っているものもありますので、SNS</p>
<p>　（ソーシャルネットワーキングサービス）やブログなどの転用時にはプライバシーへの配慮をお願い致します。</p>
</div>
</div>
		<div id="view" data-bind="if: photoShow"><!-- view -->
			<h3 data-bind="text: title">平成26年度年少クラス運動会</h3>
		    	<div class="pagenation"><!-- pagenation -->
                	<div data-bind="text: countStr"></div>
                		<ul class="page">
							<!-- ko if: prev -->
                    		<li class="page_link" data-bind="click: prevClick">＜＜ 前へ</li>
							<!-- /ko -->
                    		<li class="page_link">1</li>
                    		<li class="vewing">2</li>
                    		<li class="page_link">3</li>
                    		<li class="page_link">4</li>
                    		<li class="page_link">5</li>
                    		<li class="midle">…</li>
                    		<li class="page_link">10</li>
							<!-- ko if: next -->
                    		<li class="page_link" data-bind="click: nextClick">次へ ＞＞</li>
							<!-- /ko -->
                		</ul>
        		</div><!-- pagenation_end -->
		        <!-- ko foreach: photoInfosArray -->
		        <div class="photo">
		        	<!-- ko foreach: photoInfos -->
		        	<div class="select">
						<div class="subnaile"><img data-bind="attr: { src: url }, click:modal, clickBubble:false"/></div>
						<div class="icon"><img data-bind="click:photoCheck, attr: { src: cIconUrl }"/></div>
					</div>
					<!-- /ko -->
				</div>
		        <!-- /ko -->
			<div class="clear"></div>
		</div><!-- view_end -->
	</script>
</body>
</html>