<!DOCTYPE html>
<html>
<body>
	<div th:fragment="mheader">
		<li class="event"><a class="menuitem submenuheader" th:text="${menu}">テスト<span>　2015/12/31</span></a>
			<div class="submenu">
				<ul class="menu2">
					<li><a href="search_result.html" target="main">入場</a></li>
					<li><a href="search_result.html" target="main">合唱</a></li>
					<li><a href="search_result.html" target="main">ダンス</a></li>
				</ul>
			</div>
		</li>
	</div>
	
	<div th:fragment="menulist">
		<li class="event"><a class="menuitem submenuheader" th:text="${menu}">テスト<span>　2015/12/31</span></a>
			<div class="submenu">
				<ul class="menu2">
					<li><a href="search_result.html" target="main">入場</a></li>
					<li><a href="search_result.html" target="main">合唱</a></li>
					<li><a href="search_result.html" target="main">ダンス</a></li>
				</ul>
			</div>
		</li>
	</div>
</body>
</html>